<section class="col-8">
    <h1 id="title" class="col-10">{{title}}</h1>
    <article id="insert-info" class="dflex-row col-9"> 
        <div class="col-4 dflex-column card">
            <p>Salário</p>
            <div class="dflex-row col-10">
                <span class="col-1">R$</span>
                <input id="salary" type="text" placeholder="Salário" class="col-8" (keyup)="validateMoney($event)">
            </div>
        </div>
        <div class="col-4 dflex-column card">
            <p>Dependentes</p>
            <div class="dflex-row col-10">
                <span class="col-1">N°</span>
                <input id="dependents" type="number" placeholder="Dependentes" class="col-8">
            </div>
        </div>
    </article>
    <article id="insert-info-discounts" class="dflex-row col-9"> 
        <div class="col-10 dflex-column card-discounts">
            <p>Descontos</p>
            <div class="dflex-row col-10">
                <input id="description-discount" type="text" placeholder="Descricao" class="col-4">
                <input id="value-discount" type="text" placeholder="Valor" class="col-2" (keyup)="validateMoney($event);">
                <button class="col-2 btn secundary add-discount" (click)="addDiscount();">Adicionar</button>
                <span class="col-1 add-discount-mobile" (click)="addDiscount();">+</span>
            </div>
        </div>
    </article>
    <article class="dflex-row col-9"> 
        <div class="dflex-row col-10">
            <button (click)="calcLiquidSalary();" class="col-4 btn primary">Salário Líquido</button>
            <button (click)="resetPage();" class="col-4 btn secundary">Limpar</button>
        </div>
    </article>
    <article id="result" class="col-9">
        
    </article>
</section>
<footer class="col-8">
    <h1>Referências</h1>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=OkD3nh8LgP4&feature=youtu.be" target="_blank">YOU TUBE: Como calcular INSS</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=sMXi1ldWL0M" target="_blank">YOU TUBE: Como calcular imposto de Renda</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://www.xerpa.com.br/blog/calcular-irrf-na-folha-de-pagamento/" target="_blank">Site: Calcular IRFF na folha da pagamento:como fazer?</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://calculadoras.mobills.com.br/calculadora-salario-liquido/" target="_blank">Site: Calculadora de salário líquido</a>
        </li>
    </ul>
</footer>